{% extends "main.html" %}

{% block css %}
<link rel="stylesheet" href="{{ static_url('css/style.css')}}">
{% end %}

{% block header %}
<h1>{{ header_text }}</h1>
{% end %}

{% block main %}
<div class="input_area">
  <span>手写数字：</span>
  <canvas></canvas>
  <button type="button" data-action="recog">识别</button>
  <button type="button" data-action="clear">清空</button>
</div>
{% end %}

{% block script %}
<script src="{{ static_url('js/signature_pad.js') }}" charset="UTF-8"></script>
<script src="{{ static_url('js/signature_trans.js') }}"></script>
{% end %}